[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
ulid-py = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
